<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <MudStack Justify="Justify.FlexStart" AlignItems="AlignItems.Start" Class="ma-10">
                    <MudText>Você não tem autorização para acessar essa página.</MudText>
                    <MudButton Color="Color.Secondary" Variant="Variant.Filled" Href="login">Acessar Painel</MudButton>
                </MudStack>
            </NotAuthorized>
        </AuthorizeRouteView>

        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>

    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>